@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<img src="~/image/favicon-32x32.png" asp-append-version="true" />
<cache expires-after="@TimeSpan
       .FromSeconds(10)">@DateTime.Now</cache>
    <h1>@ViewBag.Name</h1>
    <h1>@ViewBag.Email</h1>
    <h1>@ViewBag.C126</h1>
    <h1>@TempData["Name"]</h1>
    <h1>@TempData["Email"]</h1>
